<h1><%= @feed.title %></h1>

<p>
  <strong>Url:</strong>
  <%= @feed.url %>
</p>

<p>
  <strong>Last import:</strong>
  <%= @feed.last_import %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @feed.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @feed.description %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
