<div id="entry<%= entry.id %>" class="entry">
  <% unless entry.image.blank? %>
    <div class="entry__image"><%= image_tag entry.image %></div>
  <% end %>
  <div class="entry__texts">
    <h1 class="entry__texts__title"><%= clean entry.title %></h1>
    <p class="entry__texts__date"><%= entry.published.strftime "%Hh%M le %d/%m" %></p>
    <%= link_to '&nbsp;'.html_safe, entry %>
    <p class="entry__texts__description">
      <%= clean strip_tags entry.text %>
    </p>
    <% unless entry.feed.image.blank? %>
      <div class="entry__texts__source">
        <a href="<%= entry.url %>">
          <img  src="<%= entry.feed.image %>"
                alt=""
                onerror: "this.parentNode.removeChild(this)">
        </a>
      </div>
    <% end %>
    <% unless entry.full_text.blank? %>
      <div class="entry__texts__full">
        <a href="javascript: document.getElementById('entry<%= entry.id %>').classList.add('open')">
          Lire
        </a>
        <p><%= entry.full_text %></p>
      </div>
    <% end %>
  </div>
</div>
