<div class="entry">
  <% unless entry.image.blank? %>
    <div class="entry__image"><%= image_tag entry.image %></div>
  <% end %>
  <div class="entry__texts">
    <h1 class="entry__texts__title"><%= entry.title %></h1>
    <p class="entry__texts__description">
      <%= entry.content %>
      <%= entry.description %>
    </p>
    <% unless entry.feed.image.blank? %>
      <div class="entry__texts__source"><%= link_to image_tag(entry.feed.image), entry.url, target: :_blank %></div>
    <% end %>
    <%= link_to '+', entry %>
  </div>
</div>