<div id="entry<%= entry.id %>" class="entry">
  <% unless entry.image.blank? %>
    <div class="entry__image"><%= image_tag entry.image %></div>
  <% end %>
  <div class="entry__texts">
    <h1 class="entry__texts__title"><%= entry.title %></h1>
    <%= link_to '&nbsp;'.html_safe, entry %>
    <p class="entry__texts__description">
      <%= strip_tags (entry.description || entry.content) %>
    </p>
    <% unless entry.feed.image.blank? %>
      <div class="entry__texts__source">
        <%= link_to image_tag(entry.feed.image), entry.url, target: :_blank %>
      </div>
    <% end %>
    <% unless entry.full_text.blank? %>
      <div class="entry__texts__full">
        <a href="javascript: document.getElementById('entry<%= entry.id %>').classList.add('open')">
          Lire
        </a>
        <p><%= entry.full_text %></p>
      </div>
    <% end %>
  </div>
</div>