<% @entries.each do |entry| %>
  <div class="entry">
    <div class="entry__image"><%= image_tag entry.image %></div>
    <h1><%= entry.title %></h1>
    <p><%= entry.content %></p>
    <p><%= entry.description %></p>
    <td><%= link_to image_tag(entry.feed.image), entry.url, target: :_blank %></td>
  </div>
<% end %>
