<div class="container">
  <%= image_tag @entry.image unless @entry.image.nil? %>

  <h1><%= @entry.title %></h1>


  <p class="small">
    Published: <%= @entry.published %><br/>
    URL: <%= @entry.url %><br/>
    Guid: <%= @entry.guid %>
  </p>

  <p>
    <%= @entry.content %>
    <%= @entry.description %>
  </p>

  <p><%= @entry.full_text %></p>

  <div><%= link_to @entry.feed, @entry.feed %></div>

  <%= link_to 'Edit', edit_entry_path(@entry) %>
</div>