<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @entry.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @entry.url %>
</p>

<p>
  <strong>Content:</strong>
  <%= @entry.content %>
</p>

<p>
  <strong>Descrition:</strong>
  <%= @entry.descrition %>
</p>

<p>
  <strong>Image:</strong>
  <%= @entry.image %>
</p>

<p>
  <strong>Published:</strong>
  <%= @entry.published %>
</p>

<p>
  <strong>Guid:</strong>
  <%= @entry.guid %>
</p>

<p>
  <strong>Feed:</strong>
  <%= @entry.feed %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
