<div class="container">
  <%= image_tag @entry.image unless @entry.image.nil? %>

  <h1><%= @entry.title %></h1>

  <div><%= link_to @entry.feed, @entry.feed %></div>

  <p>Published: <%= @entry.published %></p>
  <p>URL: <%= @entry.url %></p>
  <p>Guid: <%= @entry.guid %></p>

  <p>
    <%= @entry.content %>
    <%= @entry.description %>
  </p>

  <p><%= @entry.full_text %></p>

  <%= link_to 'Edit', edit_entry_path(@entry) %>
</div>