<h1><%= @entry.title %></h1>

<p>
  <strong>Url:</strong>
  <%= @entry.url %>
</p>

<p>
  <%= @entry.content %>
  <%= @entry.description %>
</p>


<%= image_tag @entry.image unless @entry.image.nil? %>

<p>
  <strong>Published:</strong>
  <%= @entry.published %>
</p>

<p>
  <strong>Guid:</strong>
  <%= @entry.guid %>
</p>

<%= link_to @entry.feed, @entry.feed %>

<%= link_to 'Edit', edit_entry_path(@entry) %>